.WarSection {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  //Left Side SCSS
  .Description {
    font-family: "MmdReg", Courier, monospace;
    font-weight: 700;
    text-align: right;
  }
  .WarImages {
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    margin-top: 60px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    .WarImg {
      width: 90%;
      padding: 10px;
      margin: 10px;
    }
  }
  .WarImgText {
    height: 30px;
    font-family: "MmdBold", Courier, monospace;
    direction: rtl;
    text-align: right;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    color: blue;
    &:hover {
      font-size: 17px;
    }
  }

  //Right Side SCSS
  .WarName {
    h2 {
      margin-top: 0px;
      font-size: 22px;
      font-family: "MmdBold";
    }
  }
  .WarPicture {
    position: absolute;
    width: 350px;
    right: 80px;
    margin-top: 30px;
    z-index: 2;
    border: 4px double black;
  }
  .WarPicture::before {
    content: "";
    width: 70px;
    height: 70px;
    background-color: rgba(221, 221, 221, 0.7);
    position: absolute;
    top: -30px;
    right: -50px;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .WarPicture::after {
    content: "";
    width: 70px;
    height: 70px;
    background-color: rgba(221, 221, 221, 0.7);
    position: absolute;
    bottom: -40px;
    left: -30px;
    z-index: 1;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .RightSide {
    height: 800px;
  }
  .WarDetails {
    width: 500px;
    height: 250px;
    margin-top: 330px;
    margin-left: auto;
    position: relative;
    .WarDeath {
      position: absolute;
      right: 80px;
      text-align: right;
      .Title {
        font-family: "MmdBold";
        font-size: 17px;
      }
      .CountrySec {
        text-align: right;
        display: block;
      }
    }
    .WarSoldiers {
      position: absolute;
      right: 80px;
      top: 140px;
      text-align: right;

      .Title {
        font-family: "MmdBold";
        font-size: 17px;
      }
      .SoldSec {
        text-align: right;
        display: block;
      }
    }
    .GeneralsCount {
      position: absolute;
      right: 80px;
      top: 330px;
      .Title {
        font-family: "MmdBold";
        font-size: 17px;
      }
    }
    .WarDate {
      position: absolute;
      right: 80px;
      top: 380px;
      .Title {
        font-family: "MmdBold";
        font-size: 17px;
      }
      .RealDate {
        color: cadetblue;
        font-family: "MmdBold";
      }
    }
    .CountriesCount {
      position: absolute;
      right: 80px;
      top: 430px;
      .Title {
        font-family: "MmdBold";
        font-size: 17px;
      }
    }
  }
}
//Footer War

.WarFooterSection {
  background-color: rgb(245, 245, 245);
  padding-top: 50px;
  padding-bottom: 220px;
  display: grid;
  // grid-template-columns: 70% 30%;
  // column-gap: 20px;

  .Countries {
    width: 90%;
    height: 200px;
  }
  .Generals {
    // width: 100%;
    // height: 200px;
  }
  .SwiperPic {
    width: 100%;
    height: 100%;
  }
}
